<div class="container">
    <h1><%= @broom.name %></h1>
    <p><%= @broom.description %>
      <%= @broom.price %>
      <%= @broom.twigs %>
      <%= @broom.power %>
      <%= @broom.age %>
    </p>
  </div>
</div>
<br>
<div class="container">
  <%= link_to 'Back', brooms_path %>
</div>
