<div class="container">
    <h1><%= @broom.name %></h1>
    <div class="block">
    <div class="block_image">
      <%= image_tag "Brooms images/balaisasia.png", alt: "alttext" %>
      </div>
    </div>
      <div class="block_info" style="color:grey;">
      <h2> Description </h2>
    <p><%= @broom.description %>
      <p><%= @broom.price %>$ /day</p>
     <p><%= @broom.twigs %> brindilles</p>
     <p><%= @broom.power %> cv</p>
      <p><%= @broom.age %> ans</p>
    </p>
  </div>
</div>
<br>
<div class="container">
  <%= link_to 'Back', brooms_path %>
</div>
