
<div class="container-show">
  <head></head>
  <body class="background">
  <div class="row">
    <div class="col-6">
      <div class= 'text-left'>
        <h1><%= @broom.name %></h1>
      </div>
      <div class="block">

        <div class="block_image">
        <%= cl_image_tag @broom.photo.key %>
        </div>
      </div>
    </div>


      <div class="text-left">
        <h3>-Balais entier</h3>
        <h3>-Norme covid à jour</h3>
        <h3>-Pas de remboursement</h3>
  <%= link_to "Book this broom!", new_broom_reservation_path(@broom), class: "nav-link" %>
      </div>
    </div>


<%= link_to 'Back', brooms_path %>

  <div class="row">
    <div class="col-6">
      <div class="block_info" style="color:white;">
        <div class='text-left'>
          <h3> Description </h3>
          <p><%= @broom.description %>
          <p><%= @broom.price %>$ /day</p>
          <p><%= @broom.twigs %> brindilles</p>
          <p><%= @broom.power %> cv</p>
          <p><%= @broom.age %> ans</p>
        </div>
      </div>
    </div>
  </div>
 </body>


